.navBg{
    background-color: #b5b9b4;
   color: aqua;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
  }

  .botonl:hover{
   background-color: aqua;
    
  }