.celdasco
{ 
    height: 80vh;
    vertical-align: top;
}

.tabla12345{
    text-align: left;
  
}

.tituloco{
    width: 200px;
    vertical-align: top;
    text-align: center;
}

.centrarrcc{
    align-content: center;
     text-align: center;
     vertical-align: middle;
}

.titulosetq{
    align-content: center;
     text-align: center;
     vertical-align: middle;
}