.titulopf{
    width: 200px;
    vertical-align: top;
    text-align: center;
}
.rellenopf
{
    background-color: rgb(182, 192, 192);
    color: black;
    font-size: 30px;
}
.rellenopf2
{
    background-color: rgb(182, 192, 192);
    color: black;
    text-align: center;
    font-size: 30px;
}

.celdaspf
{ 
    height: 80vh;
    vertical-align: top;
}

.tabla1234{
    text-align: left;
  
}
