*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container_jv{
  display: flex;
  flex-direction: row;
  background-color: #34495E;
  height: 85vh;
  width:100%;
  padding: 3px;
  border-radius: 5px;
}
.item_jv{
  height: 100px;
  margin: 10px;
  width: 100px;

}
.left_jv{
    width: 30%;
    display: flex;
    flex-direction: column;
    height: auto;
    
}
.right_jv{
    width: 70%;
    height: auto;
}

.lefitem_jv{
    width: 20px;
    border: 2px solid #34495E;
    height: 100px;
    
}
.left1_jv{
    width: auto;
    height: 70%;
    
}
.left2_jv{
    width: auto;
    height: 30%;
    
}
.item1_jv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    
}



.main_1form_jv{
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

.p_jv{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}



.item_1container_jv{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.item1_jv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    flex-shrink: 2;
}



.container2_jv{
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    padding: 3px;
    width: auto;
    height: auto;
}
.item_form2_jv{
    margin: 5px;
}
.inp_jv{
    margin: 5px;  
}
div label{
    margin: 5px;
}

.container3_jv{
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    border-radius: 7px;
}

.container3_jv{
    display: flex;
    flex-direction: column;
}
.container_form3_jv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.item_form3_jv{
    margin: 5px;
}
.label_jv{
    width: 80px;
    margin-right: 5px;
}

.main_table3_jv{
    width: 100vh;
    margin: 0 auto;
    margin-top: 10px;
   }
   .form3_jv{
       margin:0 auto;
       background-color: #34495E;
       padding: 7px;
       border-radius: 4px;
       color: #fff;
   }
   .title_table3_jv{
       text-align: center;
   }
   
   .table_jv{
       border-collapse: collapse;
       
   }
   .td_jv,.tr_jv{
       padding: 5px;
   }
   .thead_jv{
       
       background-color: #47627e;
       bottom: 3px solid black;
   }
   .tr_jv:nth-child(even){
       background-color: #ddd;
   }
   .tr_jv:hover td{
       background-color: #369681;
       color: white;
   }
   
   .tfoot_jv{
       display: flex;
       align-items: flex-end;
       background-color: #34495E;
       color:#fff ;
       border-bottom:2px solid#fff;
       border-left:2px solid #fff;
       
   }

.form_action--button_jv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
.item_buttom_jv{
    color: rgb(55, 170, 247);
    border: 1px solid rgb(217, 255, 47);
    font-weight: bold;
    margin: 5px;
    box-sizing: border-box;
} 
.item_add_jv{
    background-color: rgb(14, 86, 180);
    color: white;
    border-radius: 7px;
}
.item_alert_jv{
    background-color: red;
    border-radius: 7px;
    color: white;
}
.item_buttom_jv:hover{
    color: rgb(55, 170, 247);
    border: 1px solid rgb(217, 255, 47);
    font-weight: bold;

}
@media (max-width:1030px) {
    .container_jv{
        display: flex;
        flex-direction: column;
        background-color: #34495E;
        height: auto;
        width:auto;
        padding: 3px;
        border-radius: 5px;
        align-items: center;
      }
      .left_jv{
        width: auto;
        display: flex;
        flex-direction: column;
        height: auto;
        
    }
    .right_jv{
        width: auto;
        height: auto;
    }
    .table_jv{
        font-size: 12px;
        text-align: start;
    }
    .tr_jv > th{
        padding: 5px;
    }
}
@media screen and (max-width: 600px) {
    .table_jv {
        border: 0px;
    }
    .table_jv caption {
        font-size: 22px;
    }
    .table_jv thead {
        display: none;
    }
    .table_jv tr {
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
    }
    .table_jv th, .table_jv td {
        font-size: 12px;
    }
    .table_jv td {
        display: block;
        border-bottom: 1px solid #ddd;
        text-align: right;
    }
    .table_jv  td:last-child {
        border-bottom: 0px;
    }
    .table_jv td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
    .form3_jv{
        width: auto;
    }
}
